<header>
  <img id = "left" src="/assets/cow.gif" width="18%" height="110%">
  <img id = "right" src="/assets/cow.gif" width = "18%" height = "110%">

  <div class="container-fluid">
    <div class="heading">
      <h1>URL Shortener</h1>
    </div>
  </div>

  <div>
    <% if (username === undefined) { %>
    <form class="login" action="/login" method="POST">
      <label for="login">Username:</label>
      <input id="user" type="text" name="user" placeholder="" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  <% } else { %>
    <form class="login" action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  </div>
  <% } %>
</header>

<nav>
  <ul class="nav navbar-nav">
      <li><a href="/urls">Home</a></li>
      <li><a href="/urls/new">New URL</a></li>
      <li><a href="/urls">Why Shorten?</a></li>
      <li><a href="/urls">Our Company</a></li>
  </ul>
</nav>