<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../assets/layout.css"/>
  </head>

  <body>
    <div class="wrapper">

      <% include ./partials/_header %>

      <main>
        <div>
          <div class = "content">
            <h2> ShortURL: <%= shortURL %> </h2>
            <form method="POST" action="/urls/<%=shortURL%>?_method=PUT">
              <input id="newLongURL" type="text" name="newLongURL" placeholder="http://" style="width: 300px">
              <button type="submit">Update resource</button>
            </form>
          </div>
        </div>
      </main>

      <%include ./partials/_footer %>

  </div>
</body>
</html>