<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../assets/layout.css"/>
  </head>

  <body>
    <div class="wrapper">

      <header>
          <img id = "left" src="../assets/cow.gif" width="18%" height="100%">
          <img id = "right" src="../assets/cow.gif" width = "18%" height = "100%">
          <% include ./partials/_header %>
      </header>

      <nav>
        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
            <li><a href="/urls/new">New URL</a></li>
            <li><a href="/urls">Why Shorten?</a></li>
            <li><a href="/urls">Our Company</a></li>
        </ul>
      </nav>

      <main>
        <div>
          <div class = "content">
            <h2> ShortURL: <%= shortURL %> </h2>
            <!-- THUMBS_UP: nice use of the method override feature -->
            <form method="POST" action="/urls/<%=shortURL%>?_method=PUT">
              <input id="newLongURL" type="text" name="newLongURL" placeholder="http://" style="width: 300px">
              <button type="submit">Update resource</button>
            </form>
          </div>
        </div>
      </main>

      <footer>
        <small>Copyright &copy; 2015 Spencer Tranter</small>
        <small><a href="mailto:spencertranter95@gmail.com">spencertranter95@gmail.com</a></small>
      </footer>

  </div>
</body>
</html>
