<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../assets/layout.css"/>
  </head>

  <body>
    <div class="wrapper">

      <header>
          <!-- these images are found on all pages as far as I can tell. If that's true, then consider moving them to the _header partial -->
          <img id = "left" src="../assets/cow.gif" width="18%" height="100%">
          <img id = "right" src="../assets/cow.gif" width = "18%" height = "100%">
          <!-- fix indentation. 2 spaces instead of 4 -->
          <% include ./partials/_header %>
      </header>

      <nav>
        <ul class="nav navbar-nav">
          <!-- fix indentation -->
            <li><a href="/urls">Home</a></li>
            <li><a href="/urls/new">New URL</a></li>
            <li><a href="/urls">Why Shorten?</a></li>
            <li><a href="/urls">Our Company</a></li>
        </ul>
      </nav>

      <main>
        <div>
          <div class = "content">
            <!-- This is not something we talked about yet, but inline styles with style= are not recommended. Instead, you can add a class to the form and write some css in your layout.css. -->
            <form action="/urls" method="POST" style="margin:150px;">
              <label for="longURL">Enter a URL:</label>
              <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </main>

      <!-- Suggestion: this footer is repeated on all pages. Consider moving it to a partial. -->
      <footer>
        <small>Copyright &copy; 2015 Spencer Tranter</small>
        <small><a href="mailto:spencertranter95@gmail.com">spencertranter95@gmail.com</a></small>
      </footer>

    </div>
  </body>
</html>
